<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div class="page1">
        <nav>
            <div class="logo">Olx</div>
            <div class="navp1">
                <div class="sbox">
                    <i id="sch" class="ri-search-line"></i>
                    <input class="in" type="text" placeholder="search city">
                </div>
                <select class="select" name="enter country" id="">
                    <option value="">abc</option>
                    <option value="">acc</option>
                    <option value="">acc</option>
                    <option value="">asc</option>
                    <option value="">efd</option>
                </select>
            </div>

            <div class="navp2">
                <input class="in" type="text" placeholder="Find cars, Mobile Phones and more">
                <button class="stag">
                    <i class="ri-search-line"></i>
                </button>
            </div>

            <div class="navp3">
                <div class="np3text">
                    <h3>ENGLISH</h3>
                </div>
                <i id="arw" class="ri-arrow-drop-down-line"></i>
            </div>

            <div class="navp4">
                <div class="np4l">
                    <h4><a href="/">Login</a></h4>
                </div>
                <div class="np4r">
                    <button class="sel">
                        <h3>++ SELL</h3>

                    </button>
                </div>

            </div>
        </nav>

        <div class="nav2">
            <div class="nav2l">
                <h3>ALL CATEGORIES</h3>
                <i id="arw" class="ri-arrow-drop-down-line"></i>

            </div>
            <div class="nav2r">
                <h4>Cars</h4>
                <h4>MotorCycles</h4>
                <h4>MobilePhones</h4>
                <h4>For Sale: Houses & Apartm</h4>
                <h4>Scooters</h4>
                <h4>Commercial & Other Vehicles</h4>
                <h4>For Rent: Houses & Apartments</h4>
            </div>

        </div>

        <div class="nav3">
            <div class="nav3left">
                <h3>Popular Searches:</h3>
            </div>
            <div class="nav3right">
                <ul>
                    <li>for Sales:</li>
                    <li><a href="/">- house</a></li>
                    <li><a href="/">- plot</a> </li>
                    <li><a href="/">- land</a></li>
                    <li><a href="/">- car</a></li>
                    <li><a href="/">- vila</a></li>
                    <li><a href="/">- flat</a></li>
                    <li><a href="/">- rent</a></li>
                </ul>
            </div>

        </div>
        <div class="part2p1">

        </div>
        <div class="part3p1">
            <div class="part3left">
                <div class="part3text">
                    <h5>Home</h5>
                    <h1>Properties</h1>
                    <h3>CATEGORIES</h3>
                    <h5>___ All categories</h5>
                    <h5>___Propteries</h5>
                </div>
            </div>
            <div class="part3right">

               
                <a class="boxx" href="/hhhh">

                  <div class="box box1">
                    <div class="bx1img"></div>
                    <div class="bx1txt">
                        <h5> Rs 28,000 </h5>
                        <h4>1Bds-1Ba-800 ft2</h4>
                        <h2>HelloWorld 19-main</h2>
                        <h6>Bring The World</h6>
                    </div>
                </div>
                </a>
               
            </div>

        </div>
    </div>

</body>

</html>